[Unit]
Description=CodeInline-Obsidian integration for automated task management and debugging.
After=network.target

[Service]
ExecStart=/usr/bin/python3 todoScript.py
WorkingDirectory= /usr/bin/todo-script/scripts/
User={{USER_PLACEHOLDER}}
Restart=on-failure

[Install]
WantedBy=multi-user.target
